.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c0f697e9d5abb8c65cd6857/1599032187414-92U41D7HVIIFVCHHBDA3/Artboard+2.png?format=2500w%22");
  background-repeat: repeat-x;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
